<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <div class="a">
        <div class="b">
            B
        </div>
        <div class="c">
            C
      <main>
        <section class="search_form">
          <h2>Search Best Seller List</h2>
          <!-- This is for the form that lets you pick a category -->
        </section>
        <section class="cards">
          <div class="card">
            <h4 class="roboto-bold">The Sword Of Truth</h4>
            <div class="book_image">
              <img src="https://storage.googleapis.com/du-prd/books/images/9781728259734.jpg" alt="">
            </div>
          </div>
          <div class="card">
            <h4 class="roboto-bold">The Sword Of Truth</h4>
            <div class="book_image">
              <img src="https://storage.googleapis.com/du-prd/books/images/9781728259734.jpg" alt="">
            </div>
          </div>
          <div class="card">
            <h4 class="roboto-bold">The Sword Of Truth</h4>
            <div class="book_image">
              <img src="https://storage.googleapis.com/du-prd/books/images/9781728259734.jpg" alt="">
            </div>
          </div>

        </section>
      </main>
        </div>
    </div>
</body>
</html>