<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best sellers</title>
</head>

<body>
  <h1>Best sellers</h1>
  <div>
    <form action="'/" method="post">
      <select id="category" name="category">
        <% inputChoices.results.forEach(element => { %>
          <option value="<%= element.list_name %>"><%= element.list_name %></option>
    <% }) %>
      </select>
      <button>Get List!</button>
    </form>
  </div>
</body>

</html>