<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best sellers</title>
</head>

<body>
    <h1>Best sellers</h1>
    <div>
      <%= inputChoices.results[0].list_name %> 
    </div>
</body>

</html>