* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', sans-serif;
    font-size: calc(15px + 0.200625vw);
    width: 100vw;
    height: 100svh;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(32, 30, 30);
}

.dash {
    font-size: 1.5rem;
}

.wrapper {
    display: grid;
    grid-template-areas: ' space content';
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    background-image: url('./images/books.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

main {
    grid-area: content;
    display: flex;
    flex-direction: column;
    margin: 6rem;
    height: 100%;
    margin: 0 3rem 0 0;
}

main h1 {
    /* font-size: calc(1vw + 1vw + 1vw); */
    font-weight: bolder;
    text-align: center;
    margin-top: 4rem;
}

main p {
    text-align: center;
    margin-bottom: 1rem;
}

.tag_line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 3rem 0;
}

.search_input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
}

nav {
    width: 100%;
    height: 4rem;
}

header {
    font-size: 1.5rem;
    font-weight: 700;
}

.cards {
    display: flex;
    justify-content: center;
}
.card {
    max-width: 25%;
    min-height: 12rem;
    margin: 1rem;
    padding: 0;
    background: white;
    border-radius: 1rem;
}

.card h4 {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    color: black;
}

.search_form {
    text-align: center;
    padding: 2rem;
}

.book_heading {
    font-size: 1rem;
    padding: 0.5rem 0;
}

.book_image img {
    border-radius: 1rem;
}

/* ========== fonts ============*/
/*/ <uniquifier>: Use a unique and descriptive class name */
/*/ <weight>: Use a value from 400 to 700 */

.dancing-script-bold {
    font-family: 'Dancing Script', cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-thin {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
}

.a {
}

.c {
    grid-area: 1 / 2 / NaN / NaN;
    justify-content: center;
}
.b {
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
}
/* slider css transistion */

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    border-right: solid 1px black;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
